In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
data=pd.read_csv('/home/utkarss/MACHINE LEARNING HANDS ON PYTHON/DataSheets/NFL.csv')

/tmp/ipykernel_94945/2525920272.py:1: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('/home/utkarss/MACHINE LEARNING HANDS ON PYTHON/DataSheets/NFL.csv')

In [3]:
data.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [4]:
cat_var=data.select_dtypes(include=['O'])

In [5]:
cat_var.head(10)

,Date,time,SideofField,posteam,DefensiveTeam,desc,ExPointResult,TwoPointConv,DefTwoPoint,PuntResult,...,FieldGoalResult,RecFumbTeam,RecFumbPlayer,ChalReplayResult,PenalizedTeam,PenaltyType,PenalizedPlayer,HomeTeam,AwayTeam,Timeout_Team
0,2009-09-10,15:00,TEN,PIT,TEN,R.Bironas kicks 67 yards from TEN 30 to PIT 3....,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PIT,TEN,NaN
1,2009-09-10,14:53,PIT,PIT,TEN,(14:53) B.Roethlisberger pass short left to H....,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PIT,TEN,NaN
2,2009-09-10,14:16,PIT,PIT,TEN,(14:16) W.Parker right end to PIT 44 for -3 ya...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PIT,TEN,NaN
3,2009-09-10,13:35,PIT,PIT,TEN,(13:35) (Shotgun) B.Roethlisberger pass incomp...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PIT,TEN,NaN
4,2009-09-10,13:27,PIT,PIT,TEN,(13:27) (Punt formation) D.Sepulveda punts 54 ...,NaN,NaN,NaN,Clean,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PIT,TEN,NaN
5,2009-09-10,13:16,TEN,TEN,PIT,(13:16) C.Johnson up the middle to TEN 2 for n...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PIT,TEN,NaN
6,2009-09-10,12:40,TEN,TEN,PIT,(12:40) K.Collins pass short left to A.Hall to...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PIT,TEN,NaN
7,2009-09-10,12:11,TEN,TEN,PIT,(12:11) (Shotgun) C.Johnson left end to TEN 4 ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PIT,TEN,NaN
8,2009-09-10,11:34,TEN,TEN,PIT,(11:34) (Punt formation) C.Hentrich punts 50 y...,NaN,NaN,NaN,Clean,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PIT,TEN,NaN
9,2009-09-10,11:24,TEN,PIT,TEN,(11:24) B.Roethlisberger pass short right to M...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PIT,TEN,NaN

In [45]:
error_pct=cat_var.isnull().sum()/cat_var.shape[0]*100

In [46]:
error_key=error_pct[error_pct>50].keys()

In [47]:
d_cleaned_data=cat_var.drop(error_key,axis=1)

In [48]:
d_cleaned_data

,Date,time,SideofField,posteam,DefensiveTeam,desc,PlayType,Tackler1,HomeTeam,AwayTeam
0,2009-09-10,15:00,TEN,PIT,TEN,R.Bironas kicks 67 yards from TEN 30 to PIT 3....,Kickoff,M.Griffin,PIT,TEN
1,2009-09-10,14:53,PIT,PIT,TEN,(14:53) B.Roethlisberger pass short left to H....,Pass,C.Hope,PIT,TEN
2,2009-09-10,14:16,PIT,PIT,TEN,(14:16) W.Parker right end to PIT 44 for -3 ya...,Run,S.Tulloch,PIT,TEN
3,2009-09-10,13:35,PIT,PIT,TEN,(13:35) (Shotgun) B.Roethlisberger pass incomp...,Pass,NaN,PIT,TEN
4,2009-09-10,13:27,PIT,PIT,TEN,(13:27) (Punt formation) D.Sepulveda punts 54 ...,Punt,NaN,PIT,TEN
...,...,...,...,...,...,...,...,...,...,...
362442,2017-01-01,00:22,GB,DET,GB,(:22) (Shotgun) M.Stafford pass deep middle to...,Pass,NaN,DET,GB
362443,2017-01-01,00:13,GB,DET,GB,"M.Prater extra point is GOOD, Center-D.Muhlbac...",Extra Point,NaN,DET,GB
362444,2017-01-01,00:13,DET,GB,DET,S.Martin kicks onside 11 yards from DET 35 to ...,Kickoff,J.Bell,DET,GB
362445,2017-01-01,00:12,DET,GB,DET,(:12) A.Rodgers kneels to DET 47 for -1 yards.,QB Kneel,NaN,DET,GB
362446,2017-01-01,00:00,DET,GB,DET,END GAME,End of Game,NaN,DET,GB

In [49]:
missing_var=d_cleaned_data.isnull().mean()*100

In [50]:
missing_var

Date              0.000000
time              0.000000
SideofField       0.124156
posteam           6.064059
DefensiveTeam     6.064059
desc              0.000552
PlayType          0.000000
Tackler1         40.608144
HomeTeam          0.000000
AwayTeam          0.000000
dtype: float64

In [51]:
# select which have 0% or more error or impurities in your cols
miss_keys=missing_var[missing_var>0].keys()

In [63]:
miss_keys
d_cleaned_data['time'].isnull().sum()

0

In [66]:
time_cleaned_data=d_cleaned_data['time'].fillna(d_cleaned_data['time'].mode()[0])

In [67]:
d_cleaned_data['time'].isnull().sum()

0

In [68]:
# only time column have cleaned now we cleaned all columns by the loop
for var in miss_keys:
    d_cleaned_data[var].fillna(d_cleaned_data[var].mode()[0],inplace=True)

/tmp/ipykernel_94945/1800085267.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  d_cleaned_data[var].fillna(d_cleaned_data[var].mode()[0],inplace=True)

In [70]:
d_cleaned_data.isnull().sum()

Date             0
time             0
SideofField      0
posteam          0
DefensiveTeam    0
desc             0
PlayType         0
Tackler1         0
HomeTeam         0
AwayTeam         0
dtype: int64

# Thankyou data has cleared now you can rejoin it in your dataset or can apply other methods like median mode and mean also